<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metal.mapper.TbDataMapper" >
  <resultMap id="BaseResultMap" type="com.metal.pojo.TbData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="carno" property="carno" jdbcType="VARCHAR" />
    <result column="mid" property="mid" jdbcType="INTEGER" />
    <result column="minename" property="minename" jdbcType="VARCHAR" />
    <result column="wid" property="wid" jdbcType="INTEGER" />
    <result column="warename" property="warename" jdbcType="VARCHAR" />
    <result column="tonnage" property="tonnage" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, carno, mid, minename, wid, warename, tonnage, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metal.pojo.TbDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.metal.pojo.TbDataExample" >
    delete from tb_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metal.pojo.TbData" >
    insert into tb_data (id, carno, mid, 
      minename, wid, warename, 
      tonnage, createtime)
    values (#{id,jdbcType=INTEGER}, #{carno,jdbcType=VARCHAR}, #{mid,jdbcType=INTEGER}, 
      #{minename,jdbcType=VARCHAR}, #{wid,jdbcType=INTEGER}, #{warename,jdbcType=VARCHAR}, 
      #{tonnage,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.metal.pojo.TbData" >
    insert into tb_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carno != null" >
        carno,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="minename != null" >
        minename,
      </if>
      <if test="wid != null" >
        wid,
      </if>
      <if test="warename != null" >
        warename,
      </if>
      <if test="tonnage != null" >
        tonnage,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carno != null" >
        #{carno,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="minename != null" >
        #{minename,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="warename != null" >
        #{warename,jdbcType=VARCHAR},
      </if>
      <if test="tonnage != null" >
        #{tonnage,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metal.pojo.TbDataExample" resultType="java.lang.Integer" >
    select count(*) from tb_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.carno != null" >
        carno = #{record.carno,jdbcType=VARCHAR},
      </if>
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.minename != null" >
        minename = #{record.minename,jdbcType=VARCHAR},
      </if>
      <if test="record.wid != null" >
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.warename != null" >
        warename = #{record.warename,jdbcType=VARCHAR},
      </if>
      <if test="record.tonnage != null" >
        tonnage = #{record.tonnage,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_data
    set id = #{record.id,jdbcType=INTEGER},
      carno = #{record.carno,jdbcType=VARCHAR},
      mid = #{record.mid,jdbcType=INTEGER},
      minename = #{record.minename,jdbcType=VARCHAR},
      wid = #{record.wid,jdbcType=INTEGER},
      warename = #{record.warename,jdbcType=VARCHAR},
      tonnage = #{record.tonnage,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metal.pojo.TbData" >
    update tb_data
    <set >
      <if test="carno != null" >
        carno = #{carno,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="minename != null" >
        minename = #{minename,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="warename != null" >
        warename = #{warename,jdbcType=VARCHAR},
      </if>
      <if test="tonnage != null" >
        tonnage = #{tonnage,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metal.pojo.TbData" >
    update tb_data
    set carno = #{carno,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=INTEGER},
      minename = #{minename,jdbcType=VARCHAR},
      wid = #{wid,jdbcType=INTEGER},
      warename = #{warename,jdbcType=VARCHAR},
      tonnage = #{tonnage,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>